{% extends "home.html" %}
{% load staticfiles %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/about">About</a></li>
    <li class="active"><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-4 background-white">
        <form method="POST" action="/contact/">{% csrf_token %}
            {{ form }}
            <input type="submit">
        </form>
    </div>
</div>
{% endblock %}
