.background-white {
    background: white;
}
.bold {
    font-weight: bold;
}
.center {
    text-align: center;
}
.padding {
    padding: 1em;
}
.plain, .plain:hover {
    color: #777777;
    text-decoration: none;
}
.transparent {
    opacity: 0.85;
}
.width {
    width: 80%
}
.wrap {
    float: left;
    padding-right: 15px;
}
