.background-white {
    background: white;
}
.bold {
    font-weight: bold;
}
.plain, .plain:hover {
    color: #777777;
    text-decoration: none;
}
.width {
    width: 80%
}
.wrap {
    float: left;
    padding-right: 15px;
}
