{% extends "home.html" %}
{% load staticfiles %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/services">Services</a></li>
    <li class="active"><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <h1>About</h1>
    <div class="row background-white padding transparent">
        <div class="col-lg-4">
            <p><i class="fa fa-building fa-5x wrap"></i><a href="/about/clients"><h1>Clients</h1></a>
            </p>
        </div>
        <div class="col-lg-4">
            <p><i class="fa fa-users fa-5x wrap"></i><a href="/about/team"><h1>Team</h1></a>
            </p>
        </div>
        <div class="col-lg-4">
            <p><i class="fa fa-thumbs-o-up fa-5x wrap"></i><a href="/about/testimonials"><h1>Testimonials</h1></a>
            </p>
        </div>
    </div>
{% endblock %}
