{% extends "home.html" %}
{% load staticfiles %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/technologies">Technologies</a></li>
    <li class="active"><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <h1>About</h1>
    <h2>Learn about our company</h2>
    <div class="background-white center padding transparent">
        <div class="row">
            <div class="col-lg-12">
                <p><i class="fa fa-building fa-3x wrap"></i><a href="/about/clients"><h1>Clients</h1></a></p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <p><i class="fa fa-thumbs-o-up fa-3x wrap"></i><a href="/about/testimonials"><h1>Testimonials</h1></a></p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <p><i class="fa fa-users fa-3x wrap"></i><a href="/about/team"><h1>Team</h1></a></p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <p><i class="fa fa-globe fa-3x wrap"></i><a href="/about/open-source"><h1>Open Source</h1></a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><i class="fa fa-globe fa-3x wrap"></i><a href="/about/community"><h1>Community</h1></a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><i class="fa fa-clock-o fa-3x wrap"></i><a href="/about/history"><h1>History</h1></a></p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <p><i class="fa fa-globe fa-3x wrap"></i><a href="/about/location"><h1>Location</h1></a></p>
            </div>
        </div>
        <hr />
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <p><i class="fa fa-book fa-3x wrap"></i><a href="/about/blog"><h1>Blog</h1></a></p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <p><i class="fa fa-book fa-3x wrap"></i><a href="/about/book"><h1>Book</h1></a></p>
            </div>
        </div>
        <hr />
    </div>
{% endblock %}
