{% extends "home.html" %}
{% load staticfiles %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/technologies">Technologies</a></li>
    <li class="active"><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <h1><a href="/about">About</a> &rarr; Blog</h1>
    <h2>About our blog:</h2>
    <div class="row background-white padding transparent">
        <div class="col-lg-12">
            <p class="lead width">Alex Clark began blogging in 2007. His personal and professional blog is located here: <a href="http://blog.aclark.net">http://blog.aclark.net</a>.</p>
        </div>
    </div>
{% endblock %}
