{% extends "home.html" %}
{% load staticfiles %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/technologies">Technologies</a></li>
    <li class="active"><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <h1><a href="/about">About</a> &rarr; Clients</h1>
    <h2 class="width">A partial list of clients from business, education, government & non-profit sectors</h2>
    {% for client in clients %}
    <div class="background-white padding transparent">
        <div class="row">
            <div class="col-lg-12">
                <h2><i class="fa fa-{{ client.icon }}"></i>&nbsp;{{ client.name }}</h2>
                <p>{{ client.text }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
