{% extends "home.html" %}
{% load staticfiles %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/services">Services</a></li>
    <li class="active"><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <h1><a href="/about">About</a> &rarr; Clients</h1>
    <h2 class="width">We serve many business, education, government and non-profit sector clients.</h2>
    {% for client in clients %}
    <div class="background-white padding">
        <h2><i class="fa fa-user"></i>&nbsp;{{ client.name }}</h2>
        <p>{{ client.text }}</p>
    </div>
    <br />
    {% endfor %}
{% endblock %}
