{% extends "home.html" %}
{% load staticfiles %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/technologies">Technologies</a></li>
    <li class="active"><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <h1><a href="/about">About</a> &rarr; Community</h1>
    <h2>Learn about our contributions to the Python community</h2>
    <div class="background-white padding transparent">
        <div class="row">
            <div class="col-lg-6">
                <img src="{% static 'dcpython.png' %}">
            </div>
            <div class="col-lg-6">
                <p class="lead width-50">In 2008 we created a 501(c)(3) non-profit organization, <a href="http://dcpython.org">DC Python</a>,  in the State of Maryland to expand our outreach and service to the Python community in DC.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-2">
                <p class="lead">One of our most significant contributions via this organization is the hosting of <a href="http://plone.org/2008">Plone Conference 2008</a>.</p>
            </div>
            <div class="col-lg-10">
                <img src="{% static 'ploneconf.png' %}">
            </div>
        </div>
    </div>
{% endblock %}
