{% extends "home.html" %}
{% load staticfiles %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/services">Services</a></li>
    <li class="active"><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <h1><a href="/about">About</a> &rarr; Community</h1>
    <h2>Learn about our contributions to the Python community:</h2>
    <div class="background-white padding transparent">
        <div class="row">
            <div class="col-lg-12">
                <p class="lead">In 2008 we created a 501(c)(3) non-profit organization in the State of Maryland to expand our outreach and service to the Python community in DC. One of our most significant contributions via this organization is the hosting of Plone Conference 2008.</p>
            </p>
        </div>
    </div>
{% endblock %}
