{% extends "home.html" %}
{% load staticfiles %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/about">About</a></li>
    <li class="active"><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <h1>Contact</h1>
    <div class="background-white padding">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-lg btn-success" type="submit" value="Send message">
    </div>
{% endblock %}
