{% extends "home.html" %}
{% load staticfiles %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/technologies">Technologies</a></li>
    <li><a href="/about">About</a></li>
    <li class="active"><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <h1>Contact</h1>
    <h2>Use this form to contact <a class="about-team-link" href="/about/team">us</a>:</h2>
    <div class="row background-white padding transparent">
        <div class="col-lg-12">
            <p class="lead">The Python programming language and open source software provide tremendous opportunities to businesses but often require an expert to develop, install and maintain. We are able and available to help by providing services that empower individuals and organizations to benefit from these opportunities. Please contact us to schedule a time to discuss your needs. We look forward to working with you!</p>
            <form method="POST" action="/contact/">{% csrf_token %}
                <table align="center">{{ form }}</table>
                <br>
                <div class="center">
                    <input class="btn btn-lg btn-success" type="submit" value="Send message">
                </div>
            </form>
        </div>
    </div>
    <div class="row background-white padding transparent">
        <div class="col-lg-12">
            <div class="center">
                <p>Or, email <a href="mailto:info@aclark.net">info@aclark.net</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
