{% extends "home.html" %}
{% load staticfiles %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/technologies">Technologies</a></li>
    <li class="active"><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <h1><a href="/about">About</a> &rarr; History</h1>
    <h2>Learn about our company history</h2>
    <div class="row background-white padding transparent">
        <div class="col-lg-12">
            <p class="lead">In 2004 Alex Clark began doing business as ACLARK.NET, a registered trade name in the state of Maryland. His first client was a company in the UK with a Plone website.</p>
            <p class="lead">In 2007 Amy Clark created ACLARK.NET, LLC, a limited liability corporation in the state of Maryland and our <a href="/about/clients">client list</a> began to grow.</p>
            <p class="lead">In 2008 Amy Clark created ZPUGDC, Inc, a non-profit 501(c)(3) corporation in the state of Maryland. With this organization, we hosted <a href="http://plone.org/2008">Plone Conference 2008</a>.</p>
            <p class="lead">In 2010 Alex Clark wrote <a href="/about/book">Plone 3.3 Site Administration</a>.</p>
            <p class="lead">In 2014 we reached the milestone of 10 years in business.</p>
        </div>
    </div>
{% endblock %}
