{% extends "home.html" %}
{% load staticfiles %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/services">Services</a></li>
    <li class="active"><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <h1><a href="/about">About</a> &rarr; Open Source</h1>
    <div class="row background-white padding transparent">
        <div class="col-lg-12">
            <p class="lead">In 2004 Alex Clark began thinking about contributing to open source software projects, mainly due to inspiration from the Plone CMS community.</p>
        </div>
    </div>
{% endblock %}
