{% extends "home.html" %}
{% load staticfiles %}

{% block nav %}
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
{% endblock %}

{% block content %}
    <h1>Projects</h1>
    <h2 class="width-85">We specialize in projects that use the following Python-based technologies:</h2>
    <div class="row">
        <img src="{% static 'plone-logo-256.png' %}">
    </div>
    <div class="row">
        <img src="{% static 'Zope.png' %}">
    </div>
    <div class="row">
        <img src="{% static 'django-logo-positive.png' %}">
    </div>
    <div class="row" style="background: white; width: 35%">
        <img src="{% static 'pyramid.png' %}">
    </div>
{% endblock %}
