{% extends "home.html" %}
{% load staticfiles %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li class="active"><a href="/services">Services</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <h1>Services</h1>
    <h2 class="width">We provide many services related to Python web application development:</h2>
    <div class="background-white">
    {% for service in services %}
        <h2>{{ service.name }}</h2>
        <h3>{{ service.desc }}</h3>
        <p><i class="fa fa-{{ service.icon }} fa-5x wrap"></i>{{ service.text }}</p>
    {% endfor %}
    </div>
{% endblock %}
