{% extends "home.html" %}
{% load staticfiles %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/services">Services</a></li>
    <li><a href="/technologies">Technologies</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <h1>Services</h1>
    <h2 class="width">We provide the following web application development services:</h2>
    {% for service in services %}
    <div class="background-white padding transparent">
        <h2><i class="fa fa-{{ service.icon }}"></i>&nbsp;{{ service.name }}</h2>
        <p>{{ service.text|safe }}</p>
    </div>
    {% endfor %}
{% endblock %}
