{% extends "home.html" %}
{% load staticfiles %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/services">Services</a></li>
    <li class="active"><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <h1><a href="/about">About</a> &rarr; Team</h1>
    <h2 class="width">Our core team consists of:</h2>
    <div class="row background-white padding transparent">
        <div class="col-lg-12">
            <h2><i class="fa fa-user"></i>&nbsp;Alex Clark, Partner, Python Web Developer</h2>
            <p class="lead"><img class="img-thumbnail wrap" src="http://www.gravatar.com/avatar/6170000a01c67c6ba1e2d4bd87701bae.png">Alex Clark is a <a href="http://about.me/alex.clark">Python Web Developer & Musician</a>. He has a Bachelor of Science in Computer Science from Loyola University in Maryland and has worked professionally as a System Administrator, Network Engineer, and Software Engineer since 1996. He is also the president of <a href="http://dcpython.org">DC Python</a>, a non-profit organization focused on promoting Python software in DC. In 2008 he hosted <a href="http://plone.org/2008">Plone Conference 2008</a> in DC; in 2010 he wrote <a href="http://aclark.net/book-promo">Plone 3.3 Site Administration</a>; in 2012 he appeared on <a href="https://us.pycon.org/2012/community/startuprow/">Startup Row at PyCon 2012</a> with <a href="http://pythonpackages.com">pythonpackages.com</a>. Read more about Alex <a href="http://about.aclark.net">here</a>.</p> 
        </div>
    </div>
    <br>
    <div class="row background-white padding transparent">
        <div class="col-lg-12">
            <h2><i class="fa fa-user"></i>&nbsp;Amy Clark, Partner, Business Coordinator</h2>
            <p class="lead"><i class="fa fa-user fa-5x wrap"></i>Amy Clark brings many years of professional sales, marketing, management, administrative and financial/legal experience to the ACLARK.NET, LLC team. She facilitates the smooth and uncomplicated engagement of our services and ensures the quality, accuracy and efficiency of all ACLARK.NET, LLC client accounts.</p>
        </div>
    </div>
    <div class="row background-white transparent-50">
        <div class="col-lg-12">
            <h2 class="width-60">Additionally, we work with many talented programmers and skilled professionals:</h2>
        </div>
    </div>

    {% for member in members %}
    <div class="row background-white padding transparent">
        <div class="col-lg-12">
            <h2><i class="fa fa-user"></i>&nbsp;{{ member.name }}</h2>
            <p><img class="img-thumbnail wrap" src="{{ member.icon.url }}">{{ member.text }}</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}
