{% extends "home.html" %}
{% load staticfiles %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/services">Services</a></li>
    <li class="active"><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <h1><a href="/about">About</a> &rarr; Team</h1>
    <h2 class="width">We work with many talented programmers and other skilled professionals:</h2>
    <div class="background-white padding">
    {% for member in members %}
        <h2><i class="fa fa-user"></i>&nbsp;{{ member.name }}</h2>
        <h3>{{ member.desc }}</h3>
        <p>{{ member.text }}</p>
    {% endfor %}
    </div>
{% endblock %}
