{% extends "home.html" %}
{% load staticfiles %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/services">Services</a></li>
    <li class="active"><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <h1><a href="/about">About</a> &rarr; Team</h1>
    <h2 class="width">Our core team:</h2>
    <div class="background-white padding">
        <h2><i class="fa fa-user"></i>&nbsp;Alex Clark</h2>
        <h3>Partner/Python Web Developer</h3>
        <p>Alex Clark is a Python Web Developer &amp; Musician. He has a Bachelor of Science in Computer Science from Loyola University in Maryland and has worked professionally as a System Administrator, Network Engineer, and Software Engineer since 1996. He is also the president of DC Python, a non-profit organization focused on promoting Python software in DC. In 2008 he hosted Plone Conference 2008 in DC; in 2010 he wrote Plone 3.3 Site Administration; in 2012 he appeared on Startup Row at PyCon 2012 with pythonpackages.com. Read more about Alex here.</p>
        <h2><i class="fa fa-user"></i>&nbsp;Amy Clark</h2>
        <h3>Partner/Business Coordinator</h3>
        <p>Amy Clark brings many years of professional sales, marketing, management, administrative and financial/legal experience to the ACLARK.NET, LLC team. She facilitates the smooth and uncomplicated engagement of our services and ensures the quality, accuracy and efficiency of all ACLARK.NET, LLC client accounts.</p>
    </div>
    <h2 class="width">We work with many talented programmers and other skilled professionals:</h2>
    <div class="background-white padding">
    {% for member in members %}
        <h2><i class="fa fa-user"></i>&nbsp;{{ member.name }}</h2>
        <h3>{{ member.desc }}</h3>
        <p>{{ member.text }}</p>
    {% endfor %}
    </div>
{% endblock %}
