{% extends "home.html" %}
{% load staticfiles %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/services">Services</a></li>
    <li class="active"><a href="/technologies">Technologies</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <h1>Projects</h1>
    <h2 class="width">We specialize in projects that use the following technologies:</h2>
    <br />
    <div class="background-white center padding transparent">
        <div class="row">
            <img class="width-50" src="{% static 'django-logo-positive.png' %}">
        </div>
        <div class="row">
            <i class="fa fa-arrow-circle-right"></i>&nbsp;<a href="https://www.djangoproject.com">https://www.djangoproject.com</a>
        </div>
        <hr>

        <div class="row">
            <img class="width-50" src="{% static 'plone-logo-256.png' %}">
        </div>
        <div class="row">
            <i class="fa fa-arrow-circle-right"></i>&nbsp;<a href="https://plone.org">https://plone.org</a>
        </div>
        <hr>

        <div class="row">
            <img class="width-50" src="{% static 'pyramid.png' %}">
        </div>
        <div class="row">
            <i class="fa fa-arrow-circle-right"></i>&nbsp;<a href="http://www.pylonsproject.org">http://www.pylonsproject.org</a>
        </div>
        <hr>

        <div class="row">
            <img class="width-60" src="{% static 'python-logo-master-v3-TM.png' %}">
        </div>
        <div class="row">
            <i class="fa fa-arrow-circle-right"></i>&nbsp;<a href="https://www.python.org">https://www.python.org</a>
        </div>
        <hr>

        <div class="row">
            <img class="width-50" src="{% static 'Zope.png' %}">
        </div>
        <div class="row">
            <i class="fa fa-arrow-circle-right"></i>&nbsp;<a href="http://zope.org">http://zope.org</a>
        </div>
        <hr>
    </div>
{% endblock %}
