{% extends "home.html" %}
{% load staticfiles %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/services">Services</a></li>
    <li class="active"><a href="/technologies">Technologies</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <h1>Technologies</h1>
    <h2 class="width">We specialize in the following <a href="http://en.wikipedia.org/wiki/Open-source_software">open source software</a> technologies</h2>
    <br />
    <div class="background-white center padding transparent">
        <div class="row">
            <img class="width-django" src="{% static 'django-logo-positive.png' %}">
        </div>
        <div class="row">
            <p class="lead">
                <i class="fa fa-arrow-circle-right"></i>&nbsp;<a href="https://www.djangoproject.com">https://www.djangoproject.com</a>
            </p>
        </div>
        <hr />
        <div class="row">
            <img class="width-plone" src="{% static 'plone-logo-256.png' %}">
        </div>
        <div class="row">
            <i class="fa fa-arrow-circle-right"></i>&nbsp;<a href="https://plone.org">https://plone.org</a>
        </div>
        <hr />
        <div class="row">
            <img src="{% static 'pyramid.png' %}">
        </div>
        <div class="row">
            <i class="fa fa-arrow-circle-right"></i>&nbsp;<a href="http://www.pylonsproject.org">http://www.pylonsproject.org</a>
        </div>
        <hr />
        <div class="row">
            <img class="width-python" src="{% static 'python-logo-master-v3-TM.png' %}">
        </div>
        <div class="row">
            <i class="fa fa-arrow-circle-right"></i>&nbsp;<a href="https://www.python.org">https://www.python.org</a>
        </div>
        <hr />
        <div class="row">
            <img class="width-zope" src="{% static 'Zope.png' %}">
        </div>
        <div class="row">
            <i class="fa fa-arrow-circle-right"></i>&nbsp;<a href="http://zope.org">http://zope.org</a>
        </div>
        <hr />
        <div class="row">
            <p class="lead">
            Read about
            <a href="/about/open-source">our involvement in open source software development</a>.</p>
        </div>
    </div>
{% endblock %}
