{% extends "home.html" %}
{% load staticfiles %}
{% block nav %}
    <li><a href="/">Home</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/technologies">Technologies</a></li>
    <li class="active"><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
{% endblock %}
{% block content %}
    <h1><a href="/about">About</a> &rarr; Testimonials</h1>
    <h2 class="width">A partial list of testimonials we have received for our work:</h2>
    {% for testimonial in testimonials %}
    <div class="background-white padding">
        <h2><a name="{{testimonial.name | slugify}}"></a><i class="fa fa-user"></i>&nbsp;{{ testimonial.name }}</h2>
        <div class="quote">
            <p class="border wrap-right">{{ testimonial.date|date:"N j, Y" }}</p>
            <p>{{ testimonial.text }}</p>
        </div>
    </div>
    <br />
    {% endfor %}
{% endblock %}
